# development stuff
adhoc/

# Byte-compiled / optimized / DLL files
__pycache__/

# cli -tmp yaml
tutorial/*-tmp.yaml

# S3DF interactive sessions create these files in several directories
# Adding this line to the .gitignore makes it simpler to add, commit, and 
# push code
**/*checkpoints